        </div>
        <div class="footer">
            <p>&copy; 2026 PetMate Platform. All rights reserved.</p>
            <p>Nairobi, Kenya</p>
            <p>You received this email because you are a registered member of PetMate.</p>
        </div>
    </div>
</body>
</html>
